@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #201c24;
  padding: 2rem 1rem;
}

.text-accent {
  color: #14f8a8;
}

.iceland-regular {
  font-size: 3rem;
  font-family: "Iceland", sans-serif;
  font-weight: 400;
  color: white;
}

@media (max-width: 768px) {
  .navbar {
    padding: 1.5rem 5%;
  }
}
