
#footer {
    width: 100vw;
    padding: 1rem 0;
    background-color: #201c24; 
    text-align: center;
    overflow-x: none;
    border-top: 1px solid #2e2e2e;
}

.footerText {
    font-family: "Electrolize", sans-serif;
    font-size: 1rem;
    color: #c7c7c7;
}

.footerText .greenAccent {
    color: #14f8a8;
}
